<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="work.parts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Workparts">
        <activity android:name=".company.CompanyShowWorkParts" android:parentActivityName=".company.CompanyIndexActivity" />
        <activity android:name=".company.CompanyShowResumeWork" android:parentActivityName=".company.CompanyIndexActivity" />
        <activity android:name=".employee.EmployeeEditPart" android:parentActivityName=".employee.EmployeeListsWorkParts" />
        <activity android:name=".employee.EmployeeListsWorkParts" android:parentActivityName=".company.CompanyIndexActivity" />
        <activity android:name=".employee.EmployeeShowPart" android:parentActivityName=".employee.EmployeeListsWorkParts" />
        <activity android:name=".employee.EmployeeCreateNewPart" android:label="@string/create_part" android:parentActivityName=".employee.EmployeeIndexActivity" />
        <activity android:name=".employee.EmployeeIndexActivity" />
        <activity android:name=".register_login.EmployeeLoginActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Workparts.NoActionBar" />
        <activity android:name=".company.NewWorkActivity" android:label="@string/create_new_workr" android:parentActivityName=".company.CompanyIndexActivity" android:screenOrientation="portrait" />
        <activity android:name=".company.NewEmployeerActivity" android:label="@string/create_new_worker" android:parentActivityName=".company.CompanyIndexActivity" android:screenOrientation="portrait" />
        <activity android:name=".register_login.CompanyEnterActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Workparts.NoActionBar" />
        <activity android:name=".register_login.RegisterCompanyActivity" android:screenOrientation="portrait" android:theme="@style/Theme.Workparts.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".company.CompanyIndexActivity" android:label="@string/app_name" android:theme="@style/Theme.Workparts.NoActionBar" />
    </application>

</manifest>